<h1>Cadastro de Filme</h1>

<%= form_with model: movie do | f | %>
  <% if movie.errors.any? %>
    <div>
      <ul>
        <% movie.errors.each do | error | %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Poster' %>
  <%= f.file_field :image %><br>
  <% if movie.image.attached? %>
    <%= image_tag movie.image, style: 'width: 200px; height: auto' %> <br>
    <%= f.label 'Remover imagem' %>
    <%= f.check_box :remove_image %> <br>
  <% end %>

  <%= f.label 'Título' %>
  <%= f.text_field :title %><br>

  <%= f.label 'Ano' %>
  <%= f.number_field :year %><br>

  <%= f.label 'Sinopse' %>
  <%= f.text_area :synopsis %><br>

  <%= f.label 'País' %>
  <%= f.text_field :country %><br>

  <%= f.label 'Duração' %>
  <%= f.number_field :duration %><br>

  <%= f.label 'Diretor' %>
  <%= f.collection_select :director_id, directors, :id, :name %><br>

  <%= f.label 'Gênero' %>
  <%= f.collection_select :movie_genre_id, movie_genres, :id, :name %><br>

  <%= f.label 'Lançado' %>
  <%= f.check_box :status, checked: movie.released? %><br><br>

  <%= f.submit 'Salvar' %>
<% end %>