<h1>Filmes</h1>

<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= 'Nenhum filme cadastrado' if @movies.empty? %>

<% @movies.each do |movie| %>

  <strong>Poster: </strong><br>
  <%= image_tag movie.image, style: 'width: 200px; height: auto' if movie.image.attached? %>
  <%= 'Sem imagem' unless movie.image.attached? %> <br>

  <strong>Título: </strong>
  <%= link_to movie.title, movie %><br>

  <strong>Ano: </strong>
  <%= movie.year %><br>

  <strong>Status: </strong>
  <%= movie.released? ? 'Lançado' : 'Não lançado' %>
  
  <hr>
<% end %>

<br>

<%= link_to 'Novo Filme', new_movie_path %>
