<h1>Informações de Diretor(a): <%= @director.name %></h1>

<dl>
  <dt>
    <strong>Nome: </strong> <%= @director.name %>
  </dt>
  
  <dd>
    <strong>Nacionalidade </strong> <%= @director.nationality %>  
  </dd>
  
  <dd>
    <strong>Data de nascimento </strong> <%= @director.birthdate %>
  </dd>
  
  <dd>
    <strong>Gênero favorito </strong> <%= @director.favorite_genre.name %>
  </dd>

  <br>

  <dt>
    <strong>Filmes dirigidos </strong>
    <dd>
      <%= 'Nenhum filme dirigido' if @director.movies.empty? %>
    </dd>
    <% @director.movies.each do |movie| %>
      <dd>
        <strong>Título: </strong><%= movie.title %>
      </dd>
    <% end %>
  </dt>
</dl>

<%= link_to 'Editar', edit_director_path(@director) %>
