<!DOCTYPE html>
<html>
  <head>
    <title>MoviesCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>

        <li>
          <%= link_to 'Gêneros de Filmes', movie_genres_path %>
        </li>

        <%# <li>
          <%= link_to 'Cadastrar/Editar Diretores', root_path %
        </li>

        <li>
          <%= link_to 'Cadastrar/Editar Filmes', root_path %
        </li> %>
        
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
